/* ~~~~~~~ GLOBAL RULES ~~~~~~~ */

* {
  padding: 0px;
  margin: 0px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 200%;
}

.nav-blok {
  display: flex;
  justify-content: space-between;
  height: 15%;
  background-color: #293241;
  color: white;
}

.nav-blok-links {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.nav-blok-links p:hover, .admin-username:hover, .URL:hover {
  color: #3560aa;
}

.shares {
  display: flex;
  justify-content: space-around;
  width: 15%;
}

.playlists {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.personal-videos {
  display: flex;
  justify-content: space-around;
  width: 28%;
}

.nav-blok-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 30%;
}

.icon {
font-family: 'Outfit', sans-serif;
font-size: 50px;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.admin-username {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  width: 33%;
}